
a{
    color: #000;
    text-decoration: none;
}

body{
    background: linear-gradient( #A1D5FC 34%, #888CFC 60%);}

.frame .items{
    margin: auto;
    height: 100%;
    width: 80%;

    
    
}

.item{
    text-align: center;
    padding: 50px;
    margin: 10px 0;
    border: 3px solid rgb(243, 243, 126);
    transition: 0.5s;
    display: block;
    border-radius: 10px;
}
.item:hover{
    background-color: rgb(243, 243, 126);
    border: 3px solid rgb(157, 126, 243);
    
}
.item:hover i{
    transform:translateY(-20px);
}

.item i{
    width: 100%;


    transition: 0.5s;
    transform:translateY(0px);
}
.item .text h1{
    font-size: 50px;
}



@media screen and (min-width:768px){
    html,body{
        height: 100%;
    }
    body{
        display: flex;
        align-items: center;
        
    }
    
    .frame{
        margin: auto;
        
   
    }
    .items{
        
        display: flex;
        
       
        

    }
    .item{
        width: 33%;
        margin: 10px;
        
    }
    .item .text{
        padding: 50px 0 0;
    }

    .item:hover{
        transform:translateY(-20px);
    }
    @keyframes rotate {
        0%{transform: rotate(-5deg);}
        100%{transform: rotate(5deg);}
    }
    .item:hover i{
        transform:translateY(0px);
        animation: rotate .3s linear infinite alternate;
    }






}